{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"> <!-- Importando o arquivo de estilos CSS -->
</head>
<body>
    <div class="container">
        <form class="form-container" method="post">
            {% csrf_token %}
            <h2>Login</h2>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit" class="button">Login</button>
            <p>Não tem uma conta? <a href="{% url 'signup' %}">Cadastre-se</a></p>
            {% if form.errors %}
                <div class="error-message">
                    {% for field, error_list in form.errors.items %}
                        {% for error in error_list %}
                            {{ field|title }}: {{ error }} <br>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
</body>
</html>