.signup-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fundo preto semi-transparente */
    animation: fadeInOut 0.5s ease-in-out; /* Adiciona uma animação de fade in/out */
}

/* Estilo para a animação de fade in/out */
@keyframes fadeInOut {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Estilo para o conteúdo do modal */
.signup-modal-content {
    background-color: #fff;
    margin: 10% auto; /* Centraliza verticalmente */
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 450px;
    position: relative;
}

/* Estilo para o botão de fechar */
.signup-modal-close {
    color: #000;
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.signup-modal-close:hover,
.signup-modal-close:focus {
    color: #000;
    text-decoration: none;
}

.signup-form{
    margin-top: 10px;
}

.signup-modal-content p a {
    color: #000;
}

.signup-modal-content p a:hover {
    color: #555;
}
