    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Body */
    body {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 1.6;
        background-color: #fcfcfc;
        color: #333;
    }

    /* Estilo para o primeiro header */
    .first-header {
        background-color: #001440; /* Novo tom de azul */
        color: #fff; /* Cor do texto */
        padding: 5px 20px;
        text-align: center; /* Centralizar o conteúdo */
    }

    /* Estilo para as informações de contato */
    .contact-info {
        display: flex;
        align-items: center;
        justify-content: center; /* Centralizar os itens */
    }

    .contact-info > div {
        margin: 0 10px; /* Espaçamento entre os elementos */
    }

    /* Estilo para os ícones */
    .contact-info i {
        margin-right: 5px; /* Espaçamento entre o ícone e o texto */
        font-size: 18px; /* Tamanho do ícone */
    }

    /* Estilo para os links das redes sociais */
    .social-links a {
        color: #fff; /* Cor dos ícones */
        text-decoration: none;
        margin-left: 10px; /* Espaçamento entre os ícones */
    }


    .second-header {
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd; /* Adiciona uma borda na parte inferior */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona um leve sombreamento */
    }

    /* Estilo para a logo */
    .logo-container img {
        max-width: 80px; /* Define um tamanho máximo para a logo */
        height: auto; /* Mantém a proporção da imagem */
    }

    /* Estilo para as opções de roupas */
    .clothing-options {
        display: flex;
        justify-content: center;
    }

    .clothing-options a {
        text-decoration: none;
        color: #010e54;
        margin: 0 10px; /* Espaçamento entre os itens */
        transition: color 0.3s, font-weight 0.3s, border-bottom 0.3s; /* Adicionando transição */
    }

    .clothing-options a:hover {
        font-weight: bold; /* Texto em negrito ao passar o mouse */
    }

    /* Estilo para as opções do usuário */
    .user-options {
        margin-right: 100px;
        display: flex;
    }

    .user-options a {
        text-decoration: none;
        color: #333;
        margin-left: 10px; /* Espaçamento entre os itens */
    }

    /* Estilo para a barra de busca */
    .search-bar {
        display: flex;
        align-items: center;
    }

    .search-bar input {
        width: 300px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
    }

    .search-bar button {
        background-color: transparent;
        border: none;
    }

    .search-bar button img {
        width: 20px;
    }


    /* Estilos para o carrossel de destaques */
    .destaques-title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 2%;
        margin-top: 30px;
        padding-bottom: 1%;
        color: #001440;
    }

    .destaques-title:after { /* this is the border */
        content:"";
        display:block;
        width: 6em;
        max-width:70%;
        border-bottom: 0.1em solid #001440;
        margin: 0 auto;
        margin-top: 1%;
    }

    .grid-destaque-container {
        max-width: 82%; /* Defina o máximo de largura como 80% da largura da tela */
        margin: 0 auto; /* Isso centralizará o container na tela */
    }
    
    .grid-destaque {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 4%;
        justify-items: center;
    }

    .destaque {
        position: relative;
        width: 276px;
        transition: outline 0.3s ease;
    }

    .destaque:hover {
        outline: 1px solid #001440;/* Aumenta a sombra ao passar o mouse */
    }

    .destaque img {
        width: 256px;
        height: 320px;
        border: 5px #000;
        border-radius: 5px;
        margin-left: 3.5%;
        margin-top: 3%;
    }

    .btn-mais-detalhes {
        position: absolute;
        bottom: 32.5%; /* Distância do botão em relação ao fundo */
        left: 50%; /* Posiciona o botão no centro horizontalmente */
        width: 93%; /* Ocupa toda a largura do card */
        transform: translateX(-50%); /* Centraliza o botão */
        background-color: #001440;
        color: #fff;
        padding: 5px 10px;
        opacity: 0;
        border: none;
    }

    .favorite-heart{
        position: absolute;
        bottom: 92%; /* Distância do botão em relação ao fundo */
        left: 81%; /* Posiciona o botão no centro horizontalmente */
        opacity: 0;
        width: 15%;
        align-items: center;
        opacity: 1;
        padding-left: 5px;
        border-radius: 50px;
        cursor: pointer;
    }

    .favorite-heart img{
        width: 60%;
        height: auto;
    }
    
    .destaque:hover .btn-mais-detalhes {
        opacity: 1;
    }

    .info {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .info-clothe-name{
        height: 30px; 
    }

    .clothe-name, .price {
        text-align: justify;
        font-size:small;
        margin: 0;
        color: #000000;
    }

    .info h3{
        text-transform: uppercase;
        font-weight: bold;
    }

    .price {
        font-size: large;
        color: #001440;
        display: block; /* Torna o <p> um bloco */
        margin-top: 5px; /* Espaçamento entre o <h3> e o <p> */
    }

    .price-parcelado {
        text-align: justify;
        font-size: medium;
        color: #001440;
        display: block; /* Torna o <p> um bloco */
        margin-top: 5px; /* Espaçamento entre o <h3> e o <p> */
    }

    .divisions-title {
        margin-top: 2%;
        text-align: center;
        font-size: 24px;
        padding-bottom: 1%;
        color: #001440;
    }

    .divisions-title:after { /* this is the border */
        content:"";
        display:block;
        width: 6em;
        max-width:70%;
        border-bottom: 0.1em solid #001440;
        margin: 0 auto;
        margin-top: 1%;
    }

    .card-container {
        display: flex;
        max-width: 83%; /* Defina o máximo de largura como 80% da largura da tela */
        margin: 0 auto; /* Isso centralizará o container na tela */
    }

    .card {
        overflow: hidden;
        border-radius: 5px;
        margin-right: 1%;
        transition: transform 0.3s ease;
    }

    .card-img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
    }

    .card:hover .card-img {
        transform: scale(1.1);
    }

    footer {
        margin-top: 5%;
        background-color: #ffffff; /* Cor de fundo cinza mais claro */
        color: #001440; /* Cor do texto */
        padding: 20px 50px; /* Espaçamento interno */
        font-size: 14px; /* Tamanho da fonte */
        box-sizing: border-box; /* Incluir padding no tamanho total do elemento */
    }
    
    /* Estilos para as colunas */
    .footer-columns {
        display: flex;
        justify-content: center; /* Centraliza as colunas horizontalmente */
        flex-wrap: wrap;
        margin-left: 10%;
    }
    
    /* Estilos para as colunas */
    .footer-column {
        flex: 1; /* As colunas se expandem igualmente */
        padding: 0 15px; /* Espaçamento interno */
    }
    
    /* Estilos para os links */
    .footer-column a {
        color: #001440;
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
        transition: color 0.3s ease;
    }
    
    .footer-column a:hover {
        color: #cccccc; /* Mudança de cor ao passar o mouse */
    }
    
    /* Estilos para o título da coluna */
    .footer-column h4 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 16px;
    }

    .footer-column img {
        width: 50%;
        height: auto;
    }
    