* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #fcfcfc;
    color: #333;
}

/* Estilo para o primeiro header */
.first-header {
    background-color: #000; /* Novo tom de azul */
    color: #fff; /* Cor do texto */
    padding: 5px 20px;
    text-align: center; /* Centralizar o conteúdo */
}

/* Estilo para as informações de contato */
.contact-info {
    display: flex;
    align-items: center;
    justify-content: center; /* Centralizar os itens */
}

.contact-info > div {
    margin: 0 10px; /* Espaçamento entre os elementos */
}

/* Estilo para os ícones */
.contact-info i {
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
    font-size: 18px; /* Tamanho do ícone */
}

/* Estilo para os links das redes sociais */
.social-links a {
    color: #fff; /* Cor dos ícones */
    text-decoration: none;
    margin-left: 10px; /* Espaçamento entre os ícones */
}


.second-header {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd; /* Adiciona uma borda na parte inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona um leve sombreamento */
}

/* Estilo para a logo */
.logo-container img {
    max-width: 80px; /* Define um tamanho máximo para a logo */
    height: auto; /* Mantém a proporção da imagem */
    margin-left: 300px;
}

/* Estilo para as opções de roupas */
.clothing-options {
    display: flex;
    justify-content: center;
    margin-left: 170px;
}

.clothing-options a {
    text-decoration: none;
    color: #333;
    margin: 0 10px; /* Espaçamento entre os itens */
    transition: color 0.3s, font-weight 0.3s, border-bottom 0.3s; /* Adicionando transição */
}

.clothing-options a:hover {
    font-weight: bold; /* Texto em negrito ao passar o mouse */
}

/* Estilo para as opções do usuário */
.user-options {
    margin-right: 100px;
    display: flex;
}

.user-options a {
    text-decoration: none;
    color: #333;
    margin-left: 10px; /* Espaçamento entre os itens */
}

.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fundo preto semi-transparente */
    animation: fadeInOut 0.5s ease-in-out; /* Adiciona uma animação de fade in/out */
}

/* Estilo para a animação de fade in/out */
@keyframes fadeInOut {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: #fff;
    margin: 10% auto; /* Centraliza verticalmente */
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    position: relative;
}

/* Estilo para o botão de fechar */
.close {
    color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.loginForm{
    margin-top: 20px;
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc; /* Adiciona uma linha na parte inferior */
    margin: 8px 0;
    outline: none; /* Remove a borda ao focar */
}

/* Estilo para os rótulos dos campos */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilo para o botão de login */
button[type=submit] {
    background-color: #000;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button[type=submit]:hover {
    background-color: #555;
}

/* Estilo para o link de cadastro */
.modal-content p a {
    color: #000;
}

.modal-content p a:hover {
    color: #555;
}

/* Estilo para a barra de busca */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    background-color: transparent;
    border: none;
}

.search-bar button img {
    width: 20px;
}


/* Estilos para o carrossel de destaques */
  .destaques-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    margin-top: 30px;
  }


  /* Estilos para o contêiner do grid */
.grid-container {
    max-width: 1200px; /* Define a largura máxima do contêiner */
    margin: 0 auto; /* Centraliza o contêiner na página */
  }
  
  /* Estilos para a grade de roupas */
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 10px;
    justify-items: center;
  }
  
  .item {
    position: relative;
    width: 220px;
    overflow: hidden;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
  }
  
  .item:hover {
    transform: scale(1.05); /* Amplia ligeiramente o item ao passar o mouse */
  }
  
  .item img {
    width: 100%;
    height: auto;
    border: 5px #000;
    border-radius: 5px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra no fundo do card */
  }
  
  .info {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
  }
  
  .info h3, .info p {
    text-align: left;
    font-size: medium;
    margin: 0;
    color: #868686 ;
    margin-top: 5px;
  }

/* Responsive */
@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

@media screen and (max-width: 576px) {
    .form-container {
        max-width: 100%;
    }
}