.account-modal-logged {
    position: absolute;
    top: calc(100% + 10px); /* Posiciona a sessão de recomendações abaixo da SearchBar */
    left: -10px;
    width: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Z-index alto para garantir que se sobreponha a outros elementos */
}

.account-modal-logged-items-container {
    padding: 10px;
}

/* Estilos das opções do menu */
.menu-options {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-options li {
    border-bottom: 1px solid #ddd;
}

.menu-options li:last-child {
    border-bottom: none;
}

.menu-options a {
    font-size: 11px;
    display: block;
    padding: 10px 15px;
    color: #007BFF;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.menu-options a:hover {
    background-color: #f1f1f1;
    color: #0056b3;
}