footer {
    margin-top: 5%;
    background-color: #ffffff; /* Cor de fundo cinza mais claro */
    color: #001440; /* Cor do texto */
    padding: 20px 50px; /* Espaçamento interno */
    font-size: 14px; /* Tamanho da fonte */
    box-sizing: border-box; /* Incluir padding no tamanho total do elemento */
}

/* Estilos para as colunas */
.footer-columns {
    display: flex;
    justify-content: center; /* Centraliza as colunas horizontalmente */
    flex-wrap: wrap;
    margin-left: 10%;
}

/* Estilos para as colunas */
.footer-column {
    flex: 1; /* As colunas se expandem igualmente */
    padding: 0 15px; /* Espaçamento interno */
}

/* Estilos para os links */
.footer-column a {
    color: #001440;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #cccccc; /* Mudança de cor ao passar o mouse */
}

/* Estilos para o título da coluna */
.footer-column h4 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-column img {
    width: 50%;
    height: auto;
}
