.form-label-input input {
    padding: 12px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc; /* Adiciona uma linha na parte inferior */
    margin: 8px 0;
    outline: none; /* Remove a borda ao focar */
}

/* Estilo para os rótulos dos campos */
.form-label-input label {
    display: block;
    margin-left: 0;
    margin-right: auto;
    font-weight:510;
}